In [ ]:
Recap
------
return Vs yield 

function definition - return - exit from the definition

In [1]:
def f1():
    return 10
    print("Hello") # this line won't print

f1()

10

In [3]:
f1()

10

In [ ]:
generator - function - returns an iterator(Address)
                      -----------------------------// yield

In [5]:
def f2():
    yield 10         #   Vs  return 10 ->exit from the definition
    print("Hello")
    yield 20
    yield 30,40
f2()

In [7]:
gObj=f2()
list(gObj)

Hello

[10, 20, (30, 40)]

In [9]:
def f1(a=0):
    n=5
    return a+n

L=[]
for var in [10,20,30]:
    r=f1(var) # function call - 3 times
    L.append(r)
L

[15, 25, 35]

In [ ]:
def f1(a=0):
    n=5
    return a+n # exit from the definition
    return a+n # won't execute this line
    return a+n # won't execute this line

# Vs

def f2(a=0):
    return a+n

f2(5)
f2(10)
f2(15)

In [11]:
s='abacb'

# | a | b | a | c | b |
# | 0 | 1 | 2 | 3 | 4 | <== index
# 0x1  0x2 0x1 0x3 0x2

print(s[0],hex(id(s[0])))
print(s[2],hex(id(s[2])))
print(hex(id('a')))

a 0x7ffb102750d8
a 0x7ffb102750d8
0x7ffb1026dce0

In [13]:
iter(s)

In [15]:
obj = iter(s)
list(obj)

['a', 'b', 'a', 'c', 'b']

In [17]:
obj = iter(s)
for var in obj:
    print(var)

a
b
a
c
b

In [21]:
obj = iter(s)
print(next(obj))
print(next(obj))
print(next(obj))
print(next(obj))
print(next(obj))
print(next(obj))

a
b
a
c
b

StopIteration:

In [ ]:
In Python OOPs style
---------------------
 \-> class
 \-> object
 \-> method
         \-->constructor 
         \-->non-constructor
         \-->decorator 
 \-> inheritance
 ....................................

In [ ]:
int float str bool bytes NoneType list tuple dict set //types - class

user defined class
- type
- attributes
- blueprint of an object
- mutable (we can add new attribute ; we can modify an existing attribute
           we can delete an existing attribute )

class <className>:
    <attribute>

<className>.<attribute>

In [23]:
class product:
    ''' This is product class'''
    pid = 101
    pname = 'prodA'

In [27]:
print(type(product))
print(type(int),type(float),type(str),type(list))

<class 'type'>
<class 'type'> <class 'type'> <class 'type'> <class 'type'>

In [33]:
print(product.pid,product.pname)

101 prodA

In [35]:
var=120
print(Var)

NameError: name 'Var' is not defined

In [39]:
product.Pname

AttributeError: type object 'product' has no attribute 'Pname'

In [41]:
# python user defined class is mutable (we can add;modify;delete) 

class box:
    box_id = 101
    box_name = "B1"

print(box.box_id,box.box_name)

box.box_name = "HDD-Box" # we can modify an existing class attribute

del(box.box_id) # we can delete an existing class attribute

box.box_Cost = 100.32 # we can new attribute to an existing class

101 B1

In [43]:
print(box.box_id)

AttributeError: type object 'box' has no attribute 'box_id'

In [45]:
print(box.box_name,box.box_Cost)

HDD-Box 100.32

In [47]:
class cname:
    cv=120

print(cname.cv) # 120

cname.cv = 500 # now the value 120 overwrite -> 500
print(cname.cv) # 500
cname.cv = 600 # now the value 500 overwrite -> 600
print(cname.cv) # 600

120
500
600

In [49]:
cname.cv

600

In [ ]:
  +-----------------------+
  | [] |  |  [   ] [  ]   |
  |           (white)     |  <== blueprint sheet  - class 
  +-----------------------+

 +-------+   +--------+
 |[]|[][]|   |[]|[][] |
 +-------+   +--------+
   B1            B2      ... Bn <== Building (real entity) - object
 1st main      2nd main  .. nth <== address ( memory)

each object having own state (memory)


class className:
     ....

object = className() <= Constructor 
         -----------

>>> class box:
...     bid=101
...
>>> box
<class '__main__.box'>
>>>
>>> box()
<__main__.box object at 0x000002145D1B41A0>
>>>
>>> box()
<__main__.box object at 0x000002145D0CB4D0>
>>>
>>> obj1 = box()
>>>
>>> obj2 = box()
>>>
>>> type(obj1)
<class '__main__.box'>
>>>
>>> type(obj2)
<class '__main__.box'>
>>>
>>> box.bid
101
>>> obj1.bid
101
>>> obj2.bid
101
>>> box.bid = 5678
>>>
>>> obj1.bid
5678
>>> obj2.bid
5678
>>> box.bid
5678
>>> obj1.bid = 'B-123'
>>>
>>> obj1.bid
'B-123'
>>>
>>> obj2.bid
5678
>>> box.bid = 999
>>> obj1.bid
'B-123'
>>> obj2.bid
999
>>> obj2.bid = 'F-567'
>>>
>>> box.bid=765
>>> box.bid
765
>>> obj1.bid
'B-123'
>>> obj2.bid
'F-567'
>>>
>>> obj3 = box()
>>> obj3.bid
765
>>>

In [51]:
class Enrollment:
    Name = ""
    DOB = ""
    DEPT = ""

In [55]:
eobj1 = Enrollment()
eobj1.Name = 'Anu'
eobj1.DOB = '1st Jan'
eobj1.DEPT = 'Sales'

eobj2 = Enrollment()
eobj2.Name = 'Vijay'
eobj2.DOB = '2nd Feb'
eobj2.DEPT = 'HR'

eobj3 = Enrollment()
eobj3.Name = 'Leo'
eobj3.DOB = '3rd March'
eobj3.DEPT = 'QA'

eobj4 = Enrollment()
eobj4.Name = 'Anu'
eobj4.DOB = '1st Jan'
eobj4.DEPT = 'Sales'

In [57]:
print(eobj1.Name,eobj1.DOB,eobj1.DEPT)
print(eobj2.Name,eobj2.DOB,eobj2.DEPT)
print(eobj3.Name,eobj3.DOB,eobj3.DEPT)
print(eobj4.Name,eobj4.DOB,eobj4.DEPT)

Anu 1st Jan Sales
Vijay 2nd Feb HR
Leo 3rd March QA
Anu 1st Jan Sales

In [59]:
eobj4.DEPT = 'DBA' # updating dept

In [61]:
print(eobj1.Name,eobj1.DOB,eobj1.DEPT)
print(eobj2.Name,eobj2.DOB,eobj2.DEPT)
print(eobj3.Name,eobj3.DOB,eobj3.DEPT)
print(eobj4.Name,eobj4.DOB,eobj4.DEPT)

Anu 1st Jan Sales
Vijay 2nd Feb HR
Leo 3rd March QA
Anu 1st Jan DBA

In [63]:
eobj1.PLACE

AttributeError: 'Enrollment' object has no attribute 'PLACE'

In [65]:
Enrollment.PLACE = '' # adding new attribute to an existing class

In [69]:
print(eobj1.PLACE,eobj2.PLACE,eobj3.PLACE,eobj4.PLACE)

In [75]:
eobj5 = Enrollment()
eobj5 = Enrollment()
eobj5.Name = 'Paul'
eobj5.DOB = '4th April'
eobj5.DEPT = 'CRM'
eobj5.PLACE = 'City-1'
print(eobj5.Name,eobj5.DOB,eobj5.DEPT,eobj5.PLACE)

Paul 4th April CRM City-1

In [77]:
eobj1.PLACE='City-A'
eobj2.PLACE='City-B'
eobj3.PLACE='City-C'
eobj4.PLACE='City-D'

In [79]:
for var in [eobj1,eobj2,eobj3,eobj4,eobj5]:
    print(var.Name,var.DOB,var.DEPT,var.PLACE)

Anu 1st Jan Sales City-A
Vijay 2nd Feb HR City-B
Leo 3rd March QA City-C
Anu 1st Jan DBA City-D
Paul 4th April CRM City-1

In [81]:
def f1():
    print("Hello")

class box:
    def f2():
        print("Hello")

obj=box()
print(type(f1),type(obj.f2))

#f1()
#obj.f2()

<class 'function'> <class 'method'>

In [83]:
class box:
    def f2():
        print("Hello")

obj=box()
obj.f2()

TypeError: box.f2() takes 0 positional arguments but 1 was given

In [87]:
def fx():
    print("Hello")

fx(10)

TypeError: fx() takes 0 positional arguments but 1 was given

In [89]:
class box:
    def f2():
        print("Hello")


obj=box()
obj.f2() # -> f2(obj)

# obj.f2("D1","D2","D3") -> f2(obj,"D1","D2","D3")

TypeError: box.f2() takes 0 positional arguments but 1 was given

In [91]:
class box:
    def f2(self):
        print("self =",self)

obj1 = box()
obj2 = box()
print("obj1=",obj1)
obj1.f2() # f2(obj1)
print('') # empty line
print("obj2=",obj2)
obj2.f2() # f2(obj2)

obj1= <__main__.box object at 0x00000228D4BDF1D0>
self = <__main__.box object at 0x00000228D4BDF1D0>

obj2= <__main__.box object at 0x00000228D33D4B60>
self = <__main__.box object at 0x00000228D33D4B60>

In [93]:
class box:
    bid = 101
    def f2(self,a):
        print("B:",self.bid)
        self.bid = a # like obj.bid=<Value>

obj = box()
print("A:",obj.bid)
obj.f2(202) # f2(obj,202)
print("C:",obj.bid)

A: 101
B: 101
C: 202

In [ ]:
# Now modify - Enrollment program
# - class Enrollment
      + Name
      + DOB
      + PLACE
      + def enroll(): - initialization
      + def display():    - display employee details
      + def update():     - update emp's working city
          - then display updated working city details
------------------------------------------------------------------------------

In [95]:
class Enrollment:
    Name = ""
    DOB = ""
    PLACE = ""
    def enroll(self,n,d,p):
        self.Name = n
        self.DOB = d
        self.PLACE = p
        print('Enrollment is done!')
    def display(self):
        print(f'Emp name:{self.Name} DOB:{self.DOB} City:{self.PLACE}')
    def update(self,p):
        self.PLACE = p
        print(f'Emp {self.Name} working City is updated see the updated details:-')
        self.display()

In [97]:
eobj1 = Enrollment()
eobj1.enroll('Anu','1st Jan','CityA')

Enrollment is done!

In [99]:
eobj2 = Enrollment()
eobj2.enroll('Leo','2nd Feb','CityB')

Enrollment is done!

In [101]:
eobj2.display()

Emp name:Leo DOB:2nd Feb City:CityB

In [103]:
eobj1.display()

Emp name:Anu DOB:1st Jan City:CityA

In [105]:
eobj1.update('pune')

Emp Anu working City is updated see the updated details:-
Emp name:Anu DOB:1st Jan City:pune

In [107]:
eobj1.display()

Emp name:Anu DOB:1st Jan City:pune

In [ ]:
class DBI:
    def connect(self,...):
        '''dbconnection'''
    def method1(self):
        '''do query process'''
    def method2(self):
        '''select query'''

1st DB Connection - OK
       |        \
       |         \____method2() 
       method1()

obj = DBI()
obj.method2() # we can call method2() but DB operation is failed
    ##### OOPs - validCall - we can invoke ; -------//process wise failed 

# constructor 
other programming 
class box{
    box(){
}       ---//constructor
};


class box:
    def __init__(self):
        ''' initialization '''
    
class DBI:
    def __init__(self,...):
        '''dbconnection'''
    def method1(self):
        '''do query process'''
    def method2(self):
        '''select query'''

obj = DBI('dbconnection params')
obj.method1()

In [109]:
class Enrollment:
    '''This is Enrollment Class'''
    def __init__(self,n,d,p):
        self.Name = n
        self.DOB = d
        self.PLACE = p
        print('Enrollment is done!')
    def display(self):
        print(f'Emp name:{self.Name} DOB:{self.DOB} City:{self.PLACE}')
    def update(self,p):
        self.PLACE = p
        print(f'Emp {self.Name} working City is updated see the updated details:-')
        self.display()

In [111]:
eobj1 = Enrollment('Anu','1st Jan','City1')
eobj1.display()

Enrollment is done!
Emp name:Anu DOB:1st Jan City:City1

In [113]:
eobj1.update('pune')

Emp Anu working City is updated see the updated details:-
Emp name:Anu DOB:1st Jan City:pune

In [ ]:
In python in class
   __<name>__ <== pre-defined class attributes 

__name__
__file__
__init__
..
__<name>___

In [119]:
i=5  # procedure style 
j=int(5) # oops style  - className(args) //constructor Call

print(type(i),type(j))
print(i,j)

<class 'int'> <class 'int'>
5 5

In [121]:
s1="Hello"
s2= str("Hello")
s2

'Hello'

In [123]:
s3=str()
s3

''

In [125]:
L1 = [] 
L2 = list()
L2

[]

In [127]:
class box:
    def __init__(self,bid,bname):
        self.bid = bid
        self.bname = bname
        print('initialization is done')
    def method1(self):
        return self.bid,self.bname
    def __str__(self):
        return self.bname

obj = box(101,'Box-1')
obj.method1()

initialization is done

(101, 'Box-1')

In [129]:
str(obj) # obj.__str__()

'Box-1'

In [ ]:
>>> class box:
...     def __init__(self):
...         print('Welcome')
...     def __del__(self):
...         print('Thank you')
...
>>> obj = box()
Welcome
>>>
>>> del(obj)
Thank you
>>> obj = box()
Welcome
>>> exit()
Thank you

In [131]:
class box:
    def __init__(self):
        print("OK")

obj = box()
callable(obj)

OK

False

In [133]:
obj()

TypeError: 'box' object is not callable

In [137]:
def fx():
    print("OK")

print(type(fx))
callable(fx)

<class 'function'>

True

In [ ]:
int() fx()

In [139]:
fx()

OK

In [141]:
fx.__call__() # same as fx()

OK

In [143]:
def fx(a):
    print("a=",a)

fx.__call__(56) # fx(56)

a= 56

In [145]:
class box:
    def __init__(self):
        self.a=10
    def __call__(self):
        return self.a

obj = box()
callable(obj)

True

In [147]:
obj() # like function call -> fx()

10

In [151]:
class box:
    bid=101
    bname='Box-1'
    def fx(self):
        pass
dir(box)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'bid',
 'bname',
 'fx']

In [153]:
class box:
    bid=101
    bname='box-1'
    def __len__(self):
        return 10
obj=box()
len(obj)

10

In [155]:
'__len__' in dir(str)

True

In [157]:
'__len__' in dir(list)

True

In [159]:
'__len__' in dir(tuple),'__len__' in dir(dict),'__len__' in dir(set)

(True, True, True)

In [161]:
'__len__' in dir(int)

False

In [163]:
class box:
    __bid = 101 # user defined private attribute
obj = box()
obj.__bid

AttributeError: 'box' object has no attribute '__bid'

In [173]:
class box:
    def __init__(self,n,m):
        self.__n = n
        self.__m = m
        print('Done')
    def method1(self):
        return self.__n,self.__m
    def __str__(self):
        return str(self.__n)+str(self.__m)

In [175]:
obj = box(45,65)

Done

In [177]:
obj.method1()

(45, 65)

In [179]:
str(obj)

'4565'

In [181]:
class A:
    va = 10
class B:
    vb = 20

objB = B()
objB.va

AttributeError: 'B' object has no attribute 'va'

In [ ]:
# Inhertiance 

class <parentClass>:
    .....
class <ChildClass>(<parentClassName>):
    .....

In [185]:
class A:
    va = 10
class B(A): # inheritance 
    vb = 20

objB = B()
print(objB.va)
objB.va + objB.vb

10

30

In [187]:
class prodA:
    pid = 101
    def fx(self):
        print('this is fx block from prodA')

class customer(prodA):
    def fy(self):
        print('Customer record')
        print('product ID:',self.pid)

obj = customer()
obj.fy()
obj.fx()
obj.pid

Customer record
product ID: 101
this is fx block from prodA

101

In [191]:
class prodA:
    def display(self):
        print('display - product details')

class customer(prodA):
    def display(self):
        print('display - customer records')

obj = customer()
obj.display()
obj.display()

display - customer records
display - customer records

In [193]:
class prodA:
    def display(self):
        print('display - product details')

class customer(prodA):
    def display(self):
        print('display - customer records')
        super().display() # invoke parent class display() method

obj = customer()
obj.display()

display - customer records
display - product details

sales.log 
productName  Cost Qty Tax  Total  Vendor  BillingDate/time

In [197]:
import time
class Vendor:
    def __init__(self,vName,vGST):
        self.__vName = vName
        self.__vGST = vGST
        print('Enrollment is done!')
    def billing(self,pN,pQ=0,pC=0.0):
        self.__pN = pN
        self.__pQ = pQ
        self.__pC = pC
        self.__total = self.__pQ * self.__pC
        self.__tax = self.__total * 0.18
        self.__gs = self.__tax + self.__total
        self.update()
    def update(self):
        wobj = open('sales.log','a')
        s1=f'{self.__pN}\t{self.__pQ}\t{self.__pC}\t{self.__gs}(including Tax)\t'
        s2=f'{self.__vName}\t Billing date/time:{time.ctime()}\n'
        wobj.write(s1+s2)
        wobj.close()

In [199]:
vobj1 = Vendor('VKlabs','VGST12355')

Enrollment is done!

In [201]:
vobj1.billing('prodA',5,1000)

In [203]:
vobj1.billing('prodB',3,1230)
vobj1.billing('prodC',2,4000)

In [205]:
vobj2 = Vendor('Dabc','VGST949492')

Enrollment is done!

In [207]:
vobj2.billing('prodX',4,3000)

In [209]:
vobj2.billing('prodA',5,1000)

In [211]:
vobj1.billing('HDD',2,4999)

In [213]:
vobj2.billing('SSD',3,4598.23)

In [215]:
class prodA:
    def __init__(self):
        print('display - product details')

class customer(prodA):
    def __init__(self):
        print('display - customer records')
        super().__init__() # invoke parent class __init__() method

obj = customer()

display - customer records
display - product details

In [217]:
# multiple inheritance 
class pA:
    pName='prodA'
class pB:
    pid = 101
class pC(pA,pB):
    def display(self):
        print(f'product Name:{self.pName} - PID:{self.pid}')

obj = pC()
obj.display()

product Name:prodA - PID:101

In [ ]:
# multilevel inheritance 
   [class-1]
     |
   [class-2]
     |
   [class-3]
     |
   [class-4]
    ..
     |
   [class-N]

In [221]:
class prod1:
    def f1(self):
        self.pname='VisionMission'
        self.version=2.3
class prod2(prod1):
    def f2(self):
        self.vendor='rpidi'
class prod3(prod2):
    def f3(self):
        self.pcost='5K'
class prodMain(prod3):
    def display(self):
        self.f1()
        self.f2()
        self.f3()
        print(self.pname,self.version,self.vendor,self.pcost)
obj = prodMain()
obj.display()

VisionMission 2.3 rpidi 5K

In [223]:
# python < 2.6 
class box(object):
    v = 10
obj = box()
obj.v

10

In [225]:
box.__mro__

(__main__.box, object)

In [227]:
class box:
    bid=101

box.__mro__

(__main__.box, object)

In [227]:
class box:
    bid=101

box.__mro__

(__main__.box, object)

In [229]:
class prod1:
    def f1(self):
        self.pname='VisionMission'
        self.version=2.3
class prod2(prod1):
    def f2(self):
        self.vendor='rpidi'
class prod3(prod2):
    def f3(self):
        self.pcost='5K'
class prodMain(prod3):
    def display(self):
        self.f1()
        self.f2()
        self.f3()
        print(self.pname,self.version,self.vendor,self.pcost)

obj = prodMain()

prodMain.__mro__

(__main__.prodMain, __main__.prod3, __main__.prod2, __main__.prod1, object)

In [ ]:
decorator
|->Function - metaprogramming design style
                    \__ we can add more features to an existing code 

python -> V1.0 ->Customer
   |
   |___ V1.1 ->Customer V1.1 --switch to V1.0 //OK
   |___ V1.2 ->Customer V1.2  ......

Web framework 
-------------
Home  About  News        Contactus   [   ]
              |->City1    |->....
              |->City2
              |->City3

In [231]:
def f1():
    def f2():
       def App1():
           print("App1")
       def App2():
           print("App2")
       App1()
       App2()
    return f2

In [233]:
f1()

In [235]:
r = f1()

In [237]:
r()

App1
App2

In [239]:
def f1(a):
    def f2():
       def App1():
           print("App1")
       def App2():
           print("App2")
       App1()
       App2()
       a()
    return f2

In [241]:
def App3():
    print('This updated App3')

In [243]:
r = f1(App3)
r()

App1
App2
This updated App3

In [245]:
def f1(a):
    def f2():
        a()
    return f2

In [247]:
def news1():
    print('<h1> news page-1</h1>')

In [249]:
def news2():
    print('<h2>new page2</h2>')

In [251]:
r = f1(news1)
r()

<h1> news page-1</h1>

In [253]:
r = f1(news2)
r()

<h2>new page2</h2>

In [255]:
@f1
def news3():
    print('<h3>new3 page</h3>')

In [257]:
news3()

<h3>new3 page</h3>

In [259]:
news2()

<h2>new page2</h2>

In [261]:
class box:
    bid=101

box.bid=500
box.bname='B-1'
################## className.<attribute>

In [263]:
class box:
    @classmethod
    def f1(cls):
        print('this is class method')
        print(cls)

box.f1() # f1(box)  Vs  obj.f1() -> f1(obj) -> def f1(self):

this is class method
<class '__main__.box'>

In [265]:
class box:
    @classmethod
    def f1(cls):
        print('this is class method')
        cls.bid=101
        cls.bname='B1'

box.f1()

this is class method

In [267]:
obj = box()
obj.bid,obj.bname

(101, 'B1')

In [275]:
# file: ab.py
# ----------------
def f1(a=0):
    class cname:
        def __init__(self,a):
            self.a=a
        def method1(self):
            return self.a+100
        def method2(self):
            return self.a+200
    obj = cname(a)
    return obj

In [277]:
#import ab
#ab.f1(<inputValue>)
f1(15)

In [279]:
obj = f1(15)
obj.method1()

115

In [281]:
obj.method2()

215

In [ ]:
DataBase Module
Json
Regx
  |->Search
  |->Substitute
  |->split
bs4

In [ ]:
>>> import sqlite3
>>>
>>> sqlite3.connect("products.db")
<sqlite3.Connection object at 0x000002282E482F20>
>>>
>>> conn = sqlite3.connect("products.db")
>>>
>>> sth = conn.cursor()
>>>
>>> sth.execute("create table pT (pID INT,pName TEXT,pCost INT)")
<sqlite3.Cursor object at 0x000002282E5372C0>
>>>
>>> sth.execute("insert into pT (pID,pName,pCost) values(101,'prodA',1000)")
<sqlite3.Cursor object at 0x000002282E5372C0>
>>>
>>> sth.execute("insert into pT (pID,pName,pCost) values(102,'prodB',2000)")
<sqlite3.Cursor object at 0x000002282E5372C0>
>>>
>>> va=103
>>> vb='prodC'
>>> vc=3000
>>>
>>> sth.execute("insert into pT(pID,pName,pCost) values(?,?,?)",(va,vb,vc))
<sqlite3.Cursor object at 0x000002282E5372C0>
>>>
>>> sth.execute("select *from pT")
<sqlite3.Cursor object at 0x000002282E5372C0>
>>>

>>> sth.fetchone()
(101, 'prodA', 1000)
>>> sth.fetchone()
(102, 'prodB', 2000)
>>> sth.fetchone()
(103, 'prodC', 3000)
>>> sth.fetchone()
>>>
>>> sth.execute("select *from pT")
<sqlite3.Cursor object at 0x000002282E5372C0>
>>>
>>> sth.fetchall()
[(101, 'prodA', 1000), (102, 'prodB', 2000), (103, 'prodC', 3000)]
>>>
>>> sth.fetchall()
[]
>>> sth.execute("select *from pT")
<sqlite3.Cursor object at 0x000002282E5372C0>
>>> list(sth)
[(101, 'prodA', 1000), (102, 'prodB', 2000), (103, 'prodC', 3000)]
>>>
>>>
>>> sth.execute("select *from pT")
<sqlite3.Cursor object at 0x000002282E5372C0>
>>> for v in sth:
...     print(v)
...
(101, 'prodA', 1000)
(102, 'prodB', 2000)
(103, 'prodC', 3000)
>>> conn.commit()
>>> conn.close()
>>>
>>> dobj1 = sqlite3.connect('products.db')
>>> sth = dobj1.cursor()
>>>
>>> sth.execute("Select *from pT")
<sqlite3.Cursor object at 0x000002282E537D40>
>>>
>>> for v in sth:
...     print(v)
...
(101, 'prodA', 1000)
(102, 'prodB', 2000)
(103, 'prodC', 3000)
>>>

In [283]:
print(open('emp.csv').read())

101,ram,sales,pune,1000
102,leo,prod,bglore,2000
103,anu,HR,hyd,3000
104,paul,sales,bglore,3200
423,zio,sales,pune,3420
142,anu,prod,chennai,4300
949,karthik,sales,bglore,3100
848,tom,hr,chennai,3940
931,vijay,prod,chennai,3411

In [ ]:
create a new database
create a table
          |->eid ename edept ecity ecost
          |-> ....
create a table - sales
          |-> eid ename edept ecity ecost
                        ...
- select your table - display

In [287]:
import sqlite3
conn = sqlite3.connect('emp.db')
sth = conn.cursor()
sth.execute("create table emp_details(eid INT,ename TEXT,edept TEXT,ecity TEXT,ecost INT)")

In [289]:
f = open('emp.csv')
for v in f:
    v.strip() # remove \n chars
    va,vb,vc,vd,ve = v.split(",")
    sth.execute("insert into emp_details (eid,ename,edept,ecity,ecost) values(?,?,?,?,?)",
                (va,vb,vc,vd,ve))
    
f.close()

In [291]:
sth.execute('select *from emp_details')

In [293]:
list(sth) # generator

[(101, 'ram', 'sales', 'pune', 1000),
 (102, 'leo', 'prod', 'bglore', 2000),
 (103, 'anu', 'HR', 'hyd', 3000),
 (104, 'paul', 'sales', 'bglore', 3200),
 (423, 'zio', 'sales', 'pune', 3420),
 (142, 'anu', 'prod', 'chennai', 4300),
 (949, 'karthik', 'sales', 'bglore', 3100),
 (848, 'tom', 'hr', 'chennai', 3940),
 (931, 'vijay', 'prod', 'chennai', 3411)]

In [295]:
netinfo={'interface':['eth0','eth1','eth2','lo'],
         'hosts':['host01','host02','host03','host04'],
         'fnames':[{'app':200,'url':'ab.com','f':'ab'},{'app':404,'ur':'err'},{'app':505,}],
         'ports:':[1001,2001,3000,4000,5000]}

In [299]:
print(type(netinfo))

<class 'dict'>

In [301]:
import json
json.dumps(netinfo) # convert from python ->json

'{"interface": ["eth0", "eth1", "eth2", "lo"], "hosts": ["host01", "host02", "host03", "host04"], "fnames": [{"app": 200, "url": "ab.com", "f": "ab"}, {"app": 404, "ur": "err"}, {"app": 505}], "ports:": [1001, 2001, 3000, 4000, 5000]}'

In [303]:
json.dumps(netinfo,indent=2) # convert from python ->json

'{\n  "interface": [\n    "eth0",\n    "eth1",\n    "eth2",\n    "lo"\n  ],\n  "hosts": [\n    "host01",\n    "host02",\n    "host03",\n    "host04"\n  ],\n  "fnames": [\n    {\n      "app": 200,\n      "url": "ab.com",\n      "f": "ab"\n    },\n    {\n      "app": 404,\n      "ur": "err"\n    },\n    {\n      "app": 505\n    }\n  ],\n  "ports:": [\n    1001,\n    2001,\n    3000,\n    4000,\n    5000\n  ]\n}'

In [307]:
print(json.dumps(netinfo,indent=2)) # convert from python ->json

{
  "interface": [
    "eth0",
    "eth1",
    "eth2",
    "lo"
  ],
  "hosts": [
    "host01",
    "host02",
    "host03",
    "host04"
  ],
  "fnames": [
    {
      "app": 200,
      "url": "ab.com",
      "f": "ab"
    },
    {
      "app": 404,
      "ur": "err"
    },
    {
      "app": 505
    }
  ],
  "ports:": [
    1001,
    2001,
    3000,
    4000,
    5000
  ]
}

In [309]:
jd_obj = json.dumps(netinfo,indent=2)
jd_obj

'{\n  "interface": [\n    "eth0",\n    "eth1",\n    "eth2",\n    "lo"\n  ],\n  "hosts": [\n    "host01",\n    "host02",\n    "host03",\n    "host04"\n  ],\n  "fnames": [\n    {\n      "app": 200,\n      "url": "ab.com",\n      "f": "ab"\n    },\n    {\n      "app": 404,\n      "ur": "err"\n    },\n    {\n      "app": 505\n    }\n  ],\n  "ports:": [\n    1001,\n    2001,\n    3000,\n    4000,\n    5000\n  ]\n}'

In [311]:
json.loads(jd_obj) # convert from json ->python

{'interface': ['eth0', 'eth1', 'eth2', 'lo'],
 'hosts': ['host01', 'host02', 'host03', 'host04'],
 'fnames': [{'app': 200, 'url': 'ab.com', 'f': 'ab'},
  {'app': 404, 'ur': 'err'},
  {'app': 505}],
 'ports:': [1001, 2001, 3000, 4000, 5000]}

In [315]:
wobj = open("netinfo.json",'w')
json.dump(netinfo,wobj) # python struct ->json_format_file
wobj.close()

In [317]:
# read json_file ->python

fobj = open('netinfo.json')
pd=json.load(fobj) # reading data from json_File ->python_struct
fobj.close()
pd

{'interface': ['eth0', 'eth1', 'eth2', 'lo'],
 'hosts': ['host01', 'host02', 'host03', 'host04'],
 'fnames': [{'app': 200, 'url': 'ab.com', 'f': 'ab'},
  {'app': 404, 'ur': 'err'},
  {'app': 505}],
 'ports:': [1001, 2001, 3000, 4000, 5000]}

In [333]:
conn=sqlite3.connect("Dx\\products.db")
sth = conn.cursor()
sth.execute("select *from pT")
records = sth.fetchall() # Get the data from DB
print(records)
jd_arr = json.dumps(records)  # Convert to json
######
jd_arr

[(101, 'prodA', 1000), (102, 'prodB', 2000), (103, 'prodC', 3000)]

'[[101, "prodA", 1000], [102, "prodB", 2000], [103, "prodC", 3000]]'

In [ ]:
import re
re.search()
re.findall()
-----------------//search 

re.sub()
-----------//substitute

re.split()
--------------//split 

re.search('pattern_str','input_str',re.I) -> <ack> ->bool ->True
re.search('pattern_str','input_str',re.I) -> None ->bool ->False

In [335]:
import re
re.search('sales','101,raj,sales,pune,1000')

In [337]:
re.search('prod','101,raj,sales,pune,1000')

In [339]:
re.search('prod','101,raj,sales,pune,1000') == None

True

In [341]:
bool(re.search('sales','101,raj,sales,pune,1000')),bool(re.search('QA','101,raj,sales,pune,1000'))

(True, False)

In [343]:
re.search('sales','101,raj,sales,pune')

In [345]:
re.findall('sales','101,raj,sales,pune')

['sales']

In [347]:
re.search('sales','101,raj,sales,pune,sales')

In [349]:
re.findall('sales','101,raj,sales,pune,sales')

['sales', 'sales']

In [351]:
re.search('sales','raj,Sales,pune')

In [353]:
re.search('sales','raj,Sales,pune',re.I) # ignore pattern case

In [ ]:
# substitute
# re.sub('old_pattern_str','replace_str','input_str',<count>,re.I) -> results
#                                                                       |->replaced str
#                                              |->original str if old pattern is not matched

In [355]:
s='101,raj,sales,pune,1000'

re.sub('sales','production',s)

'101,raj,production,pune,1000'

In [357]:
s='101,raj,sales,pune,1000,sales,sales,SALES'

re.sub('sales','production',s) # by default - global replacement

'101,raj,production,pune,1000,production,production,SALES'

In [359]:
re.sub('sales','production',s,1)

'101,raj,production,pune,1000,sales,sales,SALES'

In [361]:
re.sub('sales','production',s,2)

'101,raj,production,pune,1000,production,sales,SALES'

In [363]:
re.sub('sales','production',s,0,re.I)

'101,raj,production,pune,1000,production,production,production'

In [ ]:
# Regx chars 
# ---------------
# Basic Regular Expression (BRE) - Single pattern
  ^ $ ^pattern$ . .* [ ] ^[ ] [ ]$ [^ ]  ^$

# Extended Regular Expression(ERE) - Multiple pattern search 
      |  () + {} 

^pattern 
pattern$
.(dot) - match any single character except \n
.* - list of all
[] - 1char 

[Aa]bc --> Abc abc //OK
----
[Aa][Rr]un
-------------> ARun Arun aRun arun //ok
[a-z]
[A-Z]
[a-zA-Z]
[0-9]  (or) \d
[a-zA-Z0-9] (or) \w

^[a-zA-Z] <== line starts with any alpha
      Vs
[^a-zA-Z] <== NOT matching any alpha

\s <== space 

[^a-zA-Z0-9\s] <== matching specialchars
  (or)
 [^\w\s] <== matching specialchars

^$ <== empty line

pattern1|pattern2 - any one pattern is matched ->OK
(pattern1)(pattern2) - both pattern should match ->same order - like logical AND

In [367]:
for v in open('emp.csv'):
    if(re.search('sales',v)):
        print(v.strip())

101,ram,sales,pune,1000
104,paul,sales,bglore,3200
423,zio,sales,pune,3420
949,karthik,sales,bglore,3100

In [371]:
for v in open('emp.csv'):
    if(re.search('^4',v)): # line starts with pattern 4
        print(v.strip())

423,zio,sales,pune,3420

In [373]:
for v in open('emp.csv'):
    if(re.search('^8',v)): # line starts with pattern 8
        print(v.strip())

848,tom,hr,chennai,3940

In [375]:
for v in open('emp.csv'):
    if(re.search('00$',v)): # line ends with pattern 00 
        print(v.strip())

101,ram,sales,pune,1000
102,leo,prod,bglore,2000
103,anu,HR,hyd,3000
104,paul,sales,bglore,3200
142,anu,prod,chennai,4300
949,karthik,sales,bglore,3100

In [377]:
re.search('^sales$','sales')
# like a condition

In [379]:
re.search('^sales$','sales x')

In [381]:
re.search('python|java','programming course ruby,perl,java,C')

In [383]:
re.search('(python)(java)','programming course python,java coding')

In [385]:
re.search('(python).(java)','programming course python,java coding')

In [387]:
re.search('(python).(java)','programming course java,python coding')

In [ ]:
<pattern>+ <== 1 or more 
ab+c -->abc abbbbbbbbbbbbbbbbbbbbbbbbbbbbbc //OK
            abbbbbbbbb,bbbbbbbbbbbbbbbbbbbbc //Not-matched

<pattern>{n}
--------------
ab{3}c --> abbbc  //OK
           abc abbc abbbbc //Not-Matched 

<pattern>{n,m}
--------------
ab{3,5}c --> abbbc abbbbc abbbbbc  //OK
              abc abbc abbbbbbbbbbbbbbbc //Not-matched

<pattern>{n,} 
--------------//minimum n times maximum nolimit

ab{3,}c --> abbbc abbbbbbbbbbbbbbbbbbbbbbc //OK

ab+c same as ab{1,}c //OK

^\s{5,}.*(net|db|system).*[a-z]$
-----------------------------------//regx pattern

|-> line starts with minimum 5 space <followed by list of all>
    anywhere in substite contains pattern net <or> db <or> system
    followed by list of all ends with any lowercase chars
----------------------------------------------------------------------

In [419]:
for v in open('emp.csv'):
    v=v.strip()
    if(re.search('sales.*(pune|bglore|noida)',v)):
        r=re.sub("[^\\w\\s]",'\t',v)
        print(r)

101	ram	sales	pune	1000
104	paul	sales	bglore	3200
423	zio	sales	pune	3420
949	karthik	sales	bglore	3100

In [421]:
s='root:x:bin:bash'

s.split(':')

['root', 'x', 'bin', 'bash']

In [423]:
s='root:x-bin,bash'
s.split(':')

['root', 'x-bin,bash']

In [425]:
s='root:x-bin,bash'
s.split(',')

['root:x-bin', 'bash']

In [427]:
re.split('[:,]',s)

['root', 'x-bin', 'bash']

In [431]:
re.split('[^\\w\\s]',s)

['root', 'x', 'bin', 'bash']

In [437]:
for v in open('IP.txt'):
    v=v.strip()
    print(re.split("[^\\w\\s]",v))

['101', 'userA', 'bash', '1001']
['102', 'userB', 'sh', '1002']
['103', 'userC', 'ksh', '1003']
['104', 'userD', 'csh', '1004']
['105', 'userE', 'sh', '1005']

In [443]:
for v in open('IP.txt'):
    v=v.strip()
    L=re.split("[^\\w\\s]",v)
    print(f'{L[0]}\t{L[1]}\t{L[-1]}')

101	userA	1001
102	userB	1002
103	userC	1003
104	userD	1004
105	userE	1005

In [445]:
for v in open('IP.txt'):
    v=v.strip()
    s=re.sub("[^\\w\\s]",',',v)
    print(s)

101,userA,bash,1001
102,userB,sh,1002
103,userC,ksh,1003
104,userD,csh,1004
105,userE,sh,1005